---
galaxy_info:
  author: levendaal
  description: SSH daemon hardening, authorized keys, fail2ban
  license: MIT
  min_ansible_version: "2.15"
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bookworm
dependencies: []
