---
- name: Read SSH public key
  ansible.builtin.slurp:
    src: "{{ vm_ssh_key_dir }}/{{ vm_ssh_key_name }}.pub"
  become: false
  register: _ssh_pubkey_b64
  tags: [provision]

- name: Set SSH public key fact
  ansible.builtin.set_fact:
    vm_ssh_public_key: "{{ _ssh_pubkey_b64.content | b64decode | trim }}"
  tags: [provision]

- name: List existing VMs
  community.libvirt.virt:
    command: list_vms
  register: _existing_vms
  tags: [provision]

- name: Provision VM
  ansible.builtin.include_tasks: create_vm.yml
  loop: "{{ groups['vms'] }}"
  loop_control:
    loop_var: _current_vm
  when: _current_vm not in _existing_vms.list_vms
  tags: [provision]

- name: Wait for SSH on all VMs
  ansible.builtin.wait_for:
    host: "{{ hostvars[item]['ansible_host'] }}"
    port: 22
    delay: 10
    timeout: 300
  loop: "{{ groups['vms'] }}"
  loop_control:
    label: "{{ item }}"
  tags: [provision]
