---
# ssh-hardening defaults
# These variables are passed through to devsec.hardening.ssh_hardening

ssh_server_enabled: true
ssh_client_hardening_enabled: false
ssh_permit_root_login: 'no'
ssh_password_authentication: false
ssh_pubkey_authentication: true
ssh_max_auth_tries: 3
ssh_login_grace_time: 30
ssh_allow_tcp_forwarding: 'no'
ssh_x11_forwarding: false
ssh_allow_agent_forwarding: false
ssh_client_alive_interval: 300
ssh_client_alive_count_max: 2
ssh_log_level: VERBOSE
ssh_print_last_log: true
ssh_use_pam: true
ssh_use_dns: false

# Banner configuration
ssh_banner: true
ssh_banner_path: '/etc/issue.net'
