---
galaxy_info:
  author: levendaal
  description: Common base packages, NTP, locale, and users
  license: MIT
  min_ansible_version: "2.15"
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bookworm
dependencies: []
