name: OpenTofu Deployment

on:
  push:
    branches:
      - main
    paths:
      - 1_platform_management/**
      - 2_platform_connectivity/**
      - .github/workflows/opentofu-deployment.yml
      - .github/workflows/opentofu-template.yml
      - .github/actions/**
      - .github/scripts/**
  pull_request:
    paths:
      - 1_platform_management/**
      - 2_platform_connectivity/**
      - .github/workflows/opentofu-deployment.yml
      - .github/workflows/opentofu-template.yml
      - .github/actions/**
      - .github/scripts/**

jobs:
  management:
    name: Management
    uses: ./.github/workflows/opentofu-template.yml
    with:
      working_directory: ./1_platform_management/environments/dev
      artifact_prefix: management-dev

  connectivity-dev-global:
    name: Connectivity dev-global
    needs: management
    if: always() && (needs.management.result == 'success' || github.event_name == 'pull_request')
    uses: ./.github/workflows/opentofu-template.yml
    with:
      working_directory: ./2_platform_connectivity/environments/dev-global
      artifact_prefix: connectivity-dev-global

  connectivity-dev-gwc:
    name: Connectivity dev-gwc
    needs: connectivity-dev-global
    if: always() && (needs.connectivity-dev-global.result == 'success' || github.event_name == 'pull_request')
    uses: ./.github/workflows/opentofu-template.yml
    with:
      working_directory: ./2_platform_connectivity/environments/dev-gwc
      artifact_prefix: connectivity-dev-gwc
