name: OpenTofu Deployment

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: write
  id-token: write

concurrency:
  group: opentofu-operations
  cancel-in-progress: false

jobs:
  # ===== Platform Management =====
  deploy-management-dev:
    name: Management
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./01-platform-management/environments/dev
      artifact_name: pl-management-dev
      state_key: pl-management-dev.tfstate
      client_id: bcba6fb0-afb6-4e1b-9517-dd7ffb35c2c6 # sp-pl-management-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-management

  # ===== Platform Identity =====
  deploy-identity-dev:
    name: Identity
    needs: [deploy-management-dev]
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./02-platform-identity/environments/dev
      artifact_name: pl-identity-dev
      state_key: pl-identity-dev.tfstate
      client_id: 2972657a-4e99-44c6-80f8-1e265595c81b # sp-pl-identity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-identity

  # ===== Platform Connectivity West Europe =====
  deploy-connectivity-weu-dev:
    name: Connectivity WEU
    needs: [deploy-identity-dev]
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-weu
      artifact_name: pl-connectivity-dev-weu
      state_key: pl-connectivity-dev-weu.tfstate
      client_id: 869a0c27-8210-4f91-8a16-80082b8462fd # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-connectivity

  # ===== Platform Connectivity Germany West Central =====
  deploy-connectivity-gwc-dev:
    name: Connectivity GWC
    needs: [deploy-connectivity-weu-dev]
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-gwc
      artifact_name: pl-connectivity-dev-gwc
      state_key: pl-connectivity-dev-gwc.tfstate
      client_id: 869a0c27-8210-4f91-8a16-80082b8462fd # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-connectivity

  # ===== Platform Connectivity Global =====
  deploy-connectivity-glb-dev:
    name: Connectivity GLB
    needs: [deploy-connectivity-gwc-dev]
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-glb
      artifact_name: pl-connectivity-dev-glb
      state_key: pl-connectivity-dev-glb.tfstate
      client_id: 869a0c27-8210-4f91-8a16-80082b8462fd # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-connectivity

  # ===== Platform Landing Zone - Drives =====
  deploy-drives-dev:
    name: Landing Zone Drives
    needs: [deploy-connectivity-glb-dev]
    uses: ./.github/workflows/opentofu-deployment-stage.yml
    with:
      working_directory: ./04-platform-landing-zones/environments/drives-dev
      artifact_name: plz-drives-dev
      state_key: plz-drives-dev.tfstate
      client_id: e8716cc9-4c26-4f93-9feb-0860aedfe0e7 # sp-plz-drives-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-plz-drives
