name: OpenTofu Destroy All

on:
  schedule:
    - cron: '0 2 * * *' # Runs every day at 2:00 UTC
  pull_request:
    types: [closed]

permissions:
  contents: read
  pull-requests: write
  id-token: write

concurrency:
  group: opentofu-operations
  cancel-in-progress: false

jobs:
  # destroy in reverse order of deployment
  # because of dependencies and remote data objects that otherwise do not exist anymore.

  # ===== Platform Landing Zone - Drives (dev) =====
  plz-drives-dev:
    name: plz-drives-dev destroy
    uses: ./.github/workflows/opentofu-destroy-template.yml
    with:
      working_directory: ./02-azure/04-platform-landing-zones/environments/drives-dev
      artifact_name: plz-drives-dev
      client_id: "ba53c1d5-2dc0-4182-b207-9ed6a477d139" # sp-plz-drives-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-management
      state_key: plz-drives-dev.tfstate

  # ===== Platform Connectivity (dev-glb) =====
  pl-connectivity-dev-glb:
    name: pl-connectivity-dev-glb destroy
    needs: [plz-drives-dev]
    uses: ./.github/workflows/opentofu-destroy-template.yml
    with:
      working_directory: ./02-azure/03-platform-connectivity/environments/dev-glb
      artifact_name: pl-connectivity-dev-glb
      client_id: "400a4e87-119e-4099-87c5-676886a5d2fa" # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-management
      state_key: pl-connectivity-dev-glb.tfstate

  # ===== Platform Connectivity (dev-gwc) =====
  pl-connectivity-dev-gwc:
    name: pl-connectivity-dev-gwc destroy
    needs: [pl-connectivity-dev-glb]
    uses: ./.github/workflows/opentofu-destroy-template.yml
    with:
      working_directory: ./02-azure/03-platform-connectivity/environments/dev-gwc
      artifact_name: pl-connectivity-dev-gwc
      client_id: "400a4e87-119e-4099-87c5-676886a5d2fa" # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-connectivity
      state_key: pl-connectivity-dev-gwc.tfstate

  # ===== Platform Connectivity (dev-weu) =====
  pl-connectivity-dev-weu:
    name: pl-connectivity-dev-weu destroy
    needs: [pl-connectivity-dev-glb]
    uses: ./.github/workflows/opentofu-destroy-template.yml
    with:
      working_directory: ./02-azure/03-platform-connectivity/environments/dev-weu
      artifact_name: pl-connectivity-dev-weu
      client_id: "400a4e87-119e-4099-87c5-676886a5d2fa" # sp-pl-connectivity-on-dev-na-01
      environment: dev
      state_storage_account: sttfstatecodevgwc01
      state_resource_group: rg-tfstate-co-dev-gwc-01
      state_container: tfstate-pl-connectivity
      state_key: pl-connectivity-dev-weu.tfstate

  # # ===== Platform Identity (dev) =====
  # pl-identity-dev:
  #   name: pl-identity-dev destroy
  #   needs: [pl-connectivity-dev-weu, pl-connectivity-dev-gwc]
  #   uses: ./.github/workflows/opentofu-destroy-template.yml
  #   with:
  #     working_directory: ./02-azure/02-platform-identity/environments/dev
  #     artifact_name: pl-identity-dev
  #     client_id: "2972657a-4e99-44c6-80f8-1e265595c81b" # sp-pl-identity-on-dev-na-01
  #     environment: dev
  #     state_storage_account: sttfstatecodevgwc01
  #     state_resource_group: rg-tfstate-co-dev-gwc-01
  #     state_container: tfstate-pl-identity
  #     state_key: pl-identity-dev.tfstate

  # # ===== Platform Management (dev) =====
  # pl-management-dev:
  #   name: pl-management-dev destroy
  #   needs: [pl-identity-dev]
  #   uses: ./.github/workflows/opentofu-destroy-template.yml
  #   with:
  #     working_directory: ./02-azure/01-platform-management/environments/dev
  #     artifact_name: pl-management-dev
  #     client_id: "e7ca86e6-c986-4d07-81c2-7b90f0f856a9" # sp-pl-management-on-dev-na-01
  #     environment: dev
  #     state_storage_account: sttfstatecodevgwc01
  #     state_resource_group: rg-tfstate-co-dev-gwc-01
  #     state_container: tfstate-pl-management
  #     state_key: pl-management-dev.tfstate
